# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.venv
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE and OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db
