# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Temporary scripts
run_clean_org.py

# Virtual Environments
.venv
venv/
ENV/
env/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
